name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Build baitjs
        run: ./make.sh
      - name: Build tools
        run: node bait.js build-tools
      - name: Build examples
        run: node bait.js build-examples
      - name: Run tests
        run: node bait.js test-self
      - name: Check markdown code blocks
        run: |
          node bait.js check-md docs/docs.md
          node bait.js check-md README.md
