name: Generate baitjs

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'cli/bait.bt'
      - 'lib/**'

jobs:
  gen-baitjs:
    if: github.repository == 'tiabeast/bait'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Build baitjs
        run: |
          ./make.sh --no-self
          ./bait symlink
      - name: Generate, commit and push latest bait.js
        env:
          TIABEAST_BOT_TOKEN: ${{ secrets.TIABEAST_BOT_TOKEN }}
        run: bait gen-baitjs
